* {
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0;
    width: 100vw;

}

.body-index {
    height: 100vh;
    color: white;

}

nav {
    display: flex;
    justify-content: center;
    margin: auto 30px;
}

nav h1 {
    font-weight: bold;
    color: black;
}